SECRET_KEY='MY_SECRET_KEY'
DB_DEFAULT_HOST='localhost'
DB_DEFAULT_PORT='5432'
DB_DEFAULT_NAME=''
DB_DEFAULT_USER=''
DB_DEFAULT_PASSWORD=''
DB_DATA_PATH='/data/pg10'
CREATE_SUPER_USER=admin:admin@example.com:password